<style>
    .laptop-box {
        width: 300px;
        padding:10px;
        margin:15px;
        border: 2px solid #ccc;
        margin:15px;
        box-sizing: border-box;
        text-align: center;
    }
    .price {
        color: green;
        font-size: 20px;
        font-weight: bold;
    }