<style>
body{
    font-family : Arial, sans-serif;
    background-color : #f0f0f0;
    text-align : center;
    margin : 20px;
}
button{
    background-color : #4CAF50;
}
 .product -box{
    border : 2px solid #ccc;
    
 }
}
</style>